@model IEnumerable<CarDealer.Services.Models.SupplierModel>

@{
    ViewData["Title"] = "Suppliers";
}

<h2>Suppliers</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NunOfParts)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NunOfParts)
            </td>
           
        </tr>
}
    </tbody>
</table>
