@model IEnumerable<CarDealer.Services.Models.Sales.SaleModel>

@{
    ViewData["Title"] = "AllSales";
}

<h2>AllSales</h2>

<p>
    <a class="btn btn-sm btn-primary" asp-action="AddSale">Add New Sale</a>
</p>

<table class="table table-striped table-bordered table-responsive table-hove">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelledDistance)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceWithDiscount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelledDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceWithDiscount)
            </td>

        </tr>
}
    </tbody>
</table>
