@model CarDealer.Services.Models.Customers.CustomerSalesModel

@{
    ViewData["Title"] = "CustomersAndSales";
}

<h2>CustomersAndSales</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoughtCars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoughtCars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalSpentMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSpentMoney)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
