@model IEnumerable<CarDealer.Services.Models.CarModel>

@{
    ViewData["Title"] = "bymake";
}

<h2>bymake</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-responsive table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelledDistance)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelledDistance)
            </td>
           
        </tr>
}
    </tbody>
</table>
